.secao_banner {
  width: 100vw;
  height: 100vh;
  background-color: #f9db79;
  background-image: url("../../public/img/banner-home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.secao_produtos,
.secao_sobre,
.secao_eventos {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
}

.box_texto {
  width: 50%;
  height: 100%;
  padding: 100px 50px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img {
  width: 50%;
  height: auto;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .secao_banner {
    background-size: 40%;
  }

  .secao_produtos,
  .secao_sobre,
  .secao_eventos {
    flex-direction: column;
  }

  .secao_eventos {
    flex-direction: column-reverse;
  }

  .img,
  .box_texto {
    width: 100%;
  }
}

@media (max-width: 376px) {
  .secao_banner {
    background-size: 100%;
  }
}

@media (max-width: 426px) {
  .secao_banner {
    background-size: 100%;
  }
}
